.base{
	position : relative;
	z-index : -1;
}
.layer_1{
	position : absolute;
	z-index : 1;
}
.backgroundcolor-blue{
	background-color: #050a4c;

}
.logo-dimensions{
	width: 547;
	height: 189;
}
span{
	padding: 0px 10px 0px 10px;
}
.imageScope{
	max-height: 35px;
	max-width: 35px;
}
.deepbluefont{
	color: #000c81;
}
.light_background{
	background-image: url("images/si-call-back-bg.jpg");
}
@font-face{
	font-family: viga_downloaded;
	src: url(../fonts/Viga-Regular.ttf);
}
footer{
	background-color: #021b5b;
	color: #bbc2d5;
}
.skybluetext{
	color: #0095eb;
	font-size: 50px;
	font-weight: 500;
}
h4,h5,h6{
	font-family: "viga_downloaded", Arial, Tahoma, sans-serif;
	font-size: 20px;
	text-align: center;
}
.shift-up{
	margin-top: -20px;
}
.footer-atags{
	color: white;
	text-decoration: none;
}
